@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700;800&display=swap");
.nav {
  margin: 46px 128px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1023px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 0;
    margin: 64px auto 0 auto;
  }
}

.nav__logo {
  margin-right: 40px;
}

@media (max-width: 1023px) {
  .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__list {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  background-color: #F4F4F4;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 799px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 0;
    height: auto;
    background-color: transparent;
  }
}

.nav__item {
  margin: 0 20px;
}

@media (min-width: 799px) {
  .nav__item {
    border: 0;
  }
}

.nav__item--resetMargin {
  margin: 0 0 0 20px;
}

.nav__link--resetStyle {
  color: black;
}

@media (min-width: 799px) {
  .nav__link--resetStyle {
    color: #A6B0B9;
  }
}

.nav__link--resetStyle:hover {
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 799px) {
  .header.header--alignLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__mainHeader {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 60%;
  margin: 128px auto 24px auto;
}

@media (max-width: 1023px) {
  .header__mainHeader {
    font-size: 56px;
    line-height: 56px;
  }
}

.header__paragraph {
  margin: 0 auto 40px auto;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #A6B0B9;
}

@media (max-width: 1023px) {
  .header__paragraph {
    width: 100%;
    padding: 0 24px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .header__paragraph.header__paragraph--alignLeft {
    text-align: left;
    margin: 0 auto 24px auto;
  }
}

.header__contactLink:hover {
  cursor: pointer;
  color: blue;
}

.header__contactButton {
  display: block;
  margin: 0 auto;
  padding: 19px 40px;
  background: #7CCC7A;
  color: #fff;
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  letter-spacing: 5px;
}

.aboutMe {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 568px 120px 160px 120px;
}

@media (max-width: 1205px) {
  .aboutMe {
    margin: 568px 80px 160px 80px;
  }
}

@media (max-width: 1023px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 638px auto 160px auto;
  }
}

@media (max-width: 600px) {
  .aboutMe {
    margin: 438px auto 80px auto;
  }
}

.aboutMe__img {
  min-width: 492px;
  height: auto;
  margin-right: 108px;
  max-height: 550.667px;
}

@media (max-width: 1150px) {
  .aboutMe__img {
    min-width: 433px;
    height: 484.5px;
  }
}

@media (max-width: 600px) {
  .aboutMe__img {
    min-width: 0;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
  }
}

.aboutMe__flexboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 541px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1300px) {
  .aboutMe__flexboxContainer {
    max-width: none;
  }
}

.aboutMe__header {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  letter-spacing: -0.04em;
}

@media (max-width: 1380px) {
  .aboutMe__header {
    font-size: 78px;
    line-height: 78px;
  }
}

@media (max-width: 1298px) {
  .aboutMe__header {
    font-size: 68px;
    line-height: 68px;
  }
}

@media (max-width: 1023px) {
  .aboutMe__header {
    position: relative;
    top: 0;
    left: 0;
    font-size: 68px;
    line-height: 58px;
    text-align: center;
    margin: 120px 40px 0 40px;
  }
}

.aboutMe__paragraph {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-top: 40px;
  color: #5B5B5B;
}

@media (max-width: 1298px) {
  .aboutMe__paragraph {
    font-size: 20px;
    line-height: 38px;
  }
}

@media (max-width: 1023px) {
  .aboutMe__paragraph {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 28px 35px 14px 35px;
  }
}

.aboutMe__paragraph--changeFontSize {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  margin-top: 24px;
}

@media (max-width: 1298px) {
  .aboutMe__paragraph--changeFontSize {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 1023px) {
  .aboutMe__paragraph--changeFontSize {
    margin: 0px 35px 80px 35px;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F4F4F4;
  padding: 0 64px 160px 64px;
}

@media (max-width: 1023px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 160px 0;
  }
}

.offer__head {
  margin: 160px 0 40px 80px;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #2B362A;
}

@media (max-width: 1023px) {
  .offer__head {
    margin: 120px auto 40px auto;
    font-size: 52px;
    line-height: 54px;
  }
}

.offer__paragraph {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #5B5B5B;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 1023px) {
  .offer__paragraph {
    padding: 0 40px;
    font-size: 20px;
    line-height: 28px;
  }
}

.offer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  margin-top: 40px;
  padding: 0 66px;
}

@media (max-width: 1023px) {
  .offer__container {
    margin-top: 80px;
    padding: 0 40px;
  }
}

.offer__icon {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .offer__icon {
    padding: 0;
  }
}

.offer__icon:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.offer__header {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #2B362A;
  margin: 40px 0 16px 0;
}

.offer__introduction {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #5B5B5B;
}

@media (max-width: 1023px) {
  .offer__introduction {
    font-size: 16px;
    line-height: 24px;
  }
}

.offer--addBorder {
  border-left: 1px solid rgba(5, 5, 5, 0.2);
  border-right: 1px solid rgba(5, 5, 5, 0.2);
}

@media (max-width: 1023px) {
  .offer--addBorder {
    border: 0;
  }
}

.yoga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #7CCC7A;
  padding: 0 64px 160px 64px;
  position: relative;
}

@media (max-width: 1023px) {
  .yoga {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.yoga__head {
  margin: 160px auto 40px auto;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1023px) {
  .yoga__head {
    margin: 120px auto 40px auto;
    font-size: 56px;
    line-height: 56px;
  }
}

.yoga__paragraph {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 60px auto;
  max-width: 768px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1023px) {
  .yoga__paragraph {
    margin: 0 auto;
    padding: 0 10px 48px 10px;
  }
}

.yoga__yogaFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (max-width: 1023px) {
  .yoga__yogaFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.yoga__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc( 32% - 30px);
      flex-basis: calc( 32% - 30px);
  margin: 20px;
  padding: 0 49px 80px 49px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media (max-width: 1023px) {
  .yoga__container {
    padding: 0;
    margin: 0 26px 16px 26px;
  }
}

@media (max-width: 1023px) {
  .yoga__container {
    margin-bottom: 48px;
  }
}

.yoga__icon {
  margin: 48px auto 16px auto;
}

.yoga__header {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.04em;
  padding-bottom: 16px;
  color: #2B362A;
  max-width: 252px;
}

@media (max-width: 1023px) {
  .yoga__header {
    max-width: none;
    padding: 0 57px;
  }
}

.yoga__introduction {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #5B5B5B;
  max-width: 252px;
}

@media (max-width: 1023px) {
  .yoga__introduction {
    max-width: none;
    padding: 16px 57px 48px 57px;
  }
}

.yoga__img {
  position: absolute;
  right: -100px;
  bottom: -424px;
}

@media (max-width: 1180px) {
  .yoga__img {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media (max-width: 1023px) {
  .yoga__img {
    display: none;
  }
}

.creativeWorkshops {
  background-color: #F5AFBD;
  padding: 160px 125px;
}

@media (max-width: 1023px) {
  .creativeWorkshops {
    padding: 160px 40px;
  }
}

.creativeWorkshops__header {
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 658px;
}

@media (max-width: 1023px) {
  .creativeWorkshops__header {
    max-width: 600px;
  }
}

@media (max-width: 1023px) {
  .creativeWorkshops__header {
    max-width: none;
    text-align: center;
    font-size: 78px;
    line-height: 80px;
  }
}

@media (max-width: 700px) {
  .creativeWorkshops__header {
    font-size: 42px;
    line-height: 44px;
  }
}

.creativeWorkshops__paragraph {
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  max-width: 658px;
  margin: 40px 0 80px 0;
}

@media (max-width: 1023px) {
  .creativeWorkshops__paragraph {
    max-width: none;
    text-align: center;
  }
}

.creativeWorkshops__flexboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1023px) {
  .creativeWorkshops__flexboxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.creativeWorkshops__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px;
}

.creativeWorkshops__box-paragraph {
  margin: 16px;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}

.priceList {
  background-color: #f4f4f4;
  padding: 160px 120px;
}

@media (max-width: 800px) {
  .priceList {
    padding: 160px 40px;
  }
}

.priceList__header {
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #2B362A;
}

@media (max-width: 800px) {
  .priceList__header {
    font-size: 58px;
    line-height: 60px;
  }
}

.priceList__paragraph {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #5B5B5B;
  max-width: 716px;
  width: 100%;
  margin: 40px auto;
}

@media (max-width: 1023px) {
  .priceList__paragraph {
    max-width: none;
    padding: 0 40px;
    margin: 40px 0;
    font-size: 22px;
    line-height: 26px;
  }
}

.priceList__flexboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .priceList__flexboxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.priceList__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  background-color: #ffffff;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.priceList__box-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #2B362A;
  margin: 40px auto 24px auto;
  padding: 0 20px;
  max-width: 170px;
}

.priceList__paragraphAmount {
  text-align: center;
  letter-spacing: -0.04em;
  color: #7CCC7A;
  font-weight: bold;
  font-size: 88px;
  line-height: 90px;
}

.priceList__paragraphCurrency {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #5B5B5B;
  margin: 24px auto 40px auto;
}

.invitation {
  padding: 160px 0;
  background-color: #7CCC7A;
}

@media (max-width: 800px) {
  .invitation {
    padding: 160px 40px;
  }
}

.invitation__header {
  margin: 0 auto;
  font-size: 88px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 547px;
}

@media (max-width: 800px) {
  .invitation__header {
    max-width: none;
    font-size: 68px;
    line-height: 70px;
  }
}

@media (max-width: 800px) {
  .invitation__header {
    font-size: 48px;
    line-height: 50px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px 120px 300px 120px;
}

@media (max-width: 1023px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 40px;
  }
}

.footer__item {
  max-width: 252px;
}

@media (max-width: 1023px) {
  .footer__item {
    max-width: none;
  }
}

.footer__span {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #9F9F9F;
  margin-top: 55px;
}

.footer__header {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #2B362A;
  margin-bottom: 34px;
}

@media (max-width: 1023px) {
  .footer__header {
    margin-top: 40px;
  }
}

.footer__paragraph {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #5B5B5B;
}

.footer__link {
  text-decoration: underline;
  color: #5B5B5B;
}

.footer__link:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  background-image: url("../img/backGroundDesktop.png");
  background-repeat: no-repeat;
  background-size: auto 1072px;
  background-position: top center;
  background-color: #fff;
  overflow-x: hidden;
}

@media (min-width: 1430px) {
  body {
    background-size: 100% 1072px;
    background-image: url("../img/backGroundDesktop.png");
  }
}

@media (max-width: 1023px) {
  body {
    background-size: auto 1072px;
    background-image: url("../img/backGroundDesktop.png");
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */